{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <h2>Product Details from database  </h2>
    <div class="card" style="width: 18rem;">
  <img src="{% static 'products/images/' %}{{product.image}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{product.name}}</h5>
    <p class="card-text">Price{{product.price}}</p>
       <p class="card-text">Code:{{product.code}}</p>
       <p class="card-text">Created_at{{product.created_at}}</p>
       <p class="card-text">Updated_at{{product.updated_at}}</p>
      {{product.show_url}}
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

{%endblock %}