{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<h2>Product Details from database </h2>
<div class="card" style="width: 18rem;">
    <img src="{{product.image_url}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">Price{{product.price}}</p>
        <p class="card-text">Code:{{product.code}}</p>
        <p class="card-text">Created_at{{product.created_at}}</p>
        <p class="card-text">Updated_at{{product.updated_at}}</p>
        <h4 class="card-text"> <a href="{{product.category.show_url}}">Category:{{product.category}} </a>
            {{product.category.description}}
        </h4>

        {{product.show_url}}
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>

</div>
  <h1> See Also :: products in the same category </h1>

   <h3> {{product.category.allproducts.all}}</h3>

    {% for prd in product.category.allproducts.all %}
     <li>  <a href="{{prd.show_url}}"> {{prd}} </a>  </li>
    {% endfor %}











{%endblock %}